/* common styles */
body {
    font-family: 'Play', serif;
}
h1,
h2,
h3 {
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 16px;
}
a {
    color: #333;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
    text-decoration: none;
}
.btn-primary {

}
.btn-default:hover {

}

/* --------- top-header --------- */
.top-header {
    height: 50px;
    font-size: 12px;
}
.top-header p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 13px;
    color: #fff;
}
.top-header img {
    margin-top: 12px;
    opacity: .7;
} 
.top-header img:hover {
    opacity: 1;
}
.form-control,
.input-group-btn .btn-default {
    background-color: transparent;
    border: 1px solid #fff;
}
.form-control:focus {
    color: #fff;
    border: 1px solid #fff;
}
/* --------- logo --------- */
.logo {
    margin: 10px 0;
    height: 180px;
}
.logo img {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
.logo h1 {
    text-align: center;
    font-size: 28px;
}
/* --------- nav --------- */
.menu {
    
}
header .nav a,
.nav-tabs a {
    color: #000;
    font-size: 15px;
}
.nav>li>a {
    padding: 5px;
}
.nav {
    text-transform: uppercase;
}

/* --------- banner --------- */
.jumbotron {
    padding-top: 148px;
    padding-bottom: 68px;
    max-height: 550px;
}
/* --------- main-mssg --------- */
#main-mssg {
    padding: 60px 0;
}
#main-mssg h1 {
    text-align: center;
}
/* --------- projects --------- */
.thumbnail {
    border: none;
    padding: 0px;
    margin: 40px 0;
}
.thumbnail .caption {
    padding: 0;
}
#news-fun-side h2 {
    margin-top: 0;
}
.date {
    font-size: 14px;
}
.share {
    text-align: right;
}
/* --------- news and fun --------- */
#news-fun-side h1 {
    text-align: center;
    font-size: 24px;
}

/* --------- side --------- */
.video,
.reklama, 
.anketa {
    width: 80%;
    margin: 0 auto;
}
.gallery-img {
    margin-top: 20px;
}
.side h3 {
    text-align: center;
}
/* --------- gallery --------- */
#gallery {
    padding: 80px 0;
}
#gallery h1,
#map h1 {
    text-align: center;
}
/* --------- map --------- */
#map-canvas {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.location {
    margin-top: 70px;
}
.location a {
    color: #fff;
}
/* --------- footer --------- */
footer {
    padding: 100px 0 80px;
    margin-top: 80px;
    text-align: center;
    position: relative;
}
footer h3 {
    margin-bottom: 30px;
}
.up a {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 50%;
}
.up a:hover {
    color: rgba(255,255,255,.5);
}
.sponzors img {
    margin-right: 20px;
}
footer ul,
footer li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact {
    margin: 50px 0;
}
.follow {
    text-align: center;
}
.follow img {
    opacity: .7;
}
.follow img:hover {
    opacity: 1;
}
footer p {
    text-align: center;
    margin-top: 40px;
}
/* --------- media queries --------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logo img {
        width: 350px;
        height: 180px;
        margin: 0;
    }
    .logo h1 {
        text-align: left;
        font-size: 36px;
        padding-top: 40px;
    }
    .nav li {
        line-height: 65px;
    }
    header .nav a,
    .nav-tabs a {
        font-size: 14px;
    }
    #main-mssg h1 {
        padding-top: 30px;
    }
    .video,
    .reklama,
    .anketa {
        width: 100%;
        margin: 0;
    }
    footer {
        text-align: left;
    }
    .contact {
        margin: 0;
    }
}/* end of tablets styles */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    header .nav a,
    .nav-tabs a {
        font-size: 16px;
    }
    #news-fun-side h1 {
        font-size: 36px;
    }
}/* end of desktops styles */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .logo h1 {
        margin: 0;
        font-size: 42px;
        padding-top: 0;
        line-height: 180px;
    }
}/* end of large desktops styles */